{% extends 'base.html.twig' %}

{% block title %}Network index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/stylesNetwork.css">
{% endblock %}

{% block body %}

<header>
    <div class="logo">
        <img class="lG" src="/images/logo_reduit.png" alt="logo my média tech">
        <div>
            <h1 id="title">My MediaTech</h1>
            <p class="accroche">Votre médiathèque privée partout et à partager avec vos amis.</p>
        </div>
    </div>
    <div class="navbar">
        <div>
            <p class="accroche">Votre médiathèque privée partout et à partager avec vos amis.</p>
        </div>
        <div class="menu">
            <a class="passive" href="{{ path('app_home') }}" >Home</a>
            <a class="passive" href="{{ path('app_media_index') }}">Mes Médias</a>
            <a class="active" href="{{ path('app_network_index') }}">Mon Réseaux</a>
            <a class="passive" href="#">Contact</a>
        </div>
    </div>
    <div class="connexion">

        {% if app.user %}
        <div class="menu-connexion">
            <div class="line-connexion">
                <div class="cercle"><img src="/images/person.svg" alt="customer"></div>
                <a class="passive" href="{{ path('app_logout') }}">{{ app.user.FirstName }}</a>
            </div>
        </div>    
        {% else %}
        <div class="menu-connexion">
            <div class="line-connexion">
                <div class="cercle"><img src="/images/person.svg" alt="customer"></div>
                <a class="passive" href="{{ path('app_login') }}">Connexion</a>
            </div>
        </div>
        {% endif %}
        
    </div>
</header>
<main>

    {% if app.user %}
   
        <div id="box-network">
            <div id="cadreTitleLogin">
                <img id="logoReduit" src="/images/logo_reduit.png" alt="logo">
                <h1 class="titleFormLogin">Le Réseaux My Médiatech</h1>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>inscrit depuis</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    
                {% for user in users %}
              
                    {% if (user.getId != app.user.getId()) %}
                        <tr>
                            <td>{{ user.getLastName() }}</td>
                            <td>{{ user.getFirstName() }}</td>
                            <td>{{ user.getYears() }}</td>
                            <td class="box-actions">

                                {% if user.getId() in userFriends %}
                                    <form class="action" method="post" action="{{ path('app_network_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                        <button class="btn">Ne plus suivre</button>
                                    </form>
                                {% else %}
                                    <div class="action">
                                        <a href="{{ path('app_network_new', {'id': user.getId() }) }}">Suivre</a>
                                    </div>
                                {% endif %}
                            
                                {% if userFollowers[0][0][user.getId()] is defined %}
                    
                                    {% if userFollowers[0][0][user.getId()] == 0 %}
                                        <div class="action2">
                                            <a href="{{ path('app_network_edit', {'id': user.getId() }) }}">Accepter la demande</a>
                                        </div>
                                    {% else %} 
                                        <div class="action2">
                                            <a href="{{ path('app_network_edit', {'id': user.getId() }) }}">ne plus être amis</a>
                                        </div>
                                    {% endif %}
                        
                                {% else %}

                                {% endif %}

                                {% if user_selectedFollowers[1][0][app.user.getId] is defined %}
                                
                                {% else %}
                                        {% if user.getId() in userFriends %}
                                            <div class="action">
                                                <a href="{{ path('app_network_again', {'id': user.getId() }) }}">Renvoyer une demande</a>
                                            </div>
                                        {% else %}
                                            
                                        {% endif %}
                                {% endif %}
                                    
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        
        </div>

    {% else %}
        <div class="boxBack">
            <div class="bb black"><h2>Vous n'êtes pas connecté</h2></div>
            <div class="bb">
                <a href="{{ path('app_login') }}">Vous devez vous connecter</a>
            </div>
        </div>
    {% endif %}

</main>

<footer>
    <div class="boxLeft">
        <img class="mini" src="/images/logo_reduit.png" alt="logo my média tech">
    </div>
    <div class="boxCenter">
        <div class="line">
            <p>Réaliser par Rougier Cédrik</p>
        </div>
    </div>
    <div class="boxRigth">
        <div>
            <a href="#">Mentions légales</a>
        </div>
    </div>   
</footer>

{% endblock %}
