{{ form_start(form) }}

    <div id="cadreTitleLogin">
        <img id="logoReduit" src="/images/logo_reduit.png" alt="logo">
        <h1 class="titleFormLogin">Création d'un nouvel album</h1>
    </div>

    <div id="box">
        <div class="boxLogin medium">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
    
        <div class="boxLogin medium">
            {{ form_label(form.active_comment) }}
            {{ form_widget(form.active_comment) }}
        </div>
    
        <div class="boxLogin large">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
            <a href="{{ path('app_category_new') }}"> + Ajouter une catégorie</a>
        </div>
    
        <div class="boxLogin medium">
            {{ form_label(form.imageCouv) }}
            {{ form_widget(form.imageCouv) }}
        </div>
    
        <div class="boxLogin little">
            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
            <button class="btn">{{ button_label|default('Créer') }}</button>
        </div>
    </div>

{{ form_end(form) }}
