{% extends 'base.html.twig' %}

{% block title %}ForWhy index{% endblock %}

{% block body %}
    <h1>ForWhy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for for_why in for_whies %}
            <tr>
                <td>{{ for_why.id }}</td>
                <td>{{ for_why.name }}</td>
                <td>
                    <a href="{{ path('app_for_why_show', {'id': for_why.id}) }}">show</a>
                    <a href="{{ path('app_for_why_edit', {'id': for_why.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_for_why_new') }}">Create new</a>
{% endblock %}
